@(tasks: List[Task], taskForm: Form[Task])

@import helper._

@main("Todo list") {

	 <h2>Adicionar uma nova tarefa</h2>
    
    @form(routes.Application.newTask()) {
        
        Projeto:   <input type="text" name="projetoAssociado" title="Escolha o nome do projeto"> <br>
        Descrição: <input type="text" name="descricao" title="Escolha a descrição da tarefa"> <br>
        Prioridade: <input type="number" name="prioridade" title="Escolha o valor da prioridade"> <br>

        
        <input type="submit" value="Criar">
        
    }
    
    <h1>@tasks.size() tarefas(s)</h1>
    
    <ul>
        @for(task <- tasks) {
           <li>
                Projeto: @task.getProjetoAssociado() <br>
                Descrição: @task.getDescricao() <br>
                Prioridade: @task.getPrioridade() <br>
                
                
                @form(routes.Application.deleteTask(task.getId())) {
                    <input type="submit" value="Apagar tarefa">
                }
            </li>
        }
    </ul>
    
   
    
}

